.penis {
    color: greenyellow;
}

#ding {
    color: purple;
}
#q {
    color: red;
}
#r {color: blue;
}
#w {
    color: mediumseagreen;
}
#e {
    color: orange;
}
#t {
    color: purple;
}
#y {color: pink;}

.oo{ 
    color: orange
}