#poo {
    color: brown;
}
.background {
    background-color: rgb(72, 0, 240); 
}

/* This is a comment */

.font {
    font-size: 2em;
    font-weight: bold;
    font-style: italic;
    /* text-decoration: line-through underline overline; */
    font-family: ;
}


/* treach spefvcifdjcn vints siucha s comic sans */