#poo {
    color: brown;
}
.background {
    background-color: rgb(72, 0, 240); 
}

#s {
    color: purple;
}

#lol {
    color: violet;
}

/* This is a comment */
#q {
    color: red;
}
#r {color: blue;
}
#w {
    color: mediumseagreen;
}
#e {
    color: orange;
}
#t {
    color: purple;
}
#y {color: pink;}
.font {
    font-size: 2em;
    font-weight: bold;
    font-style: italic;
    /* text-decoration: line-through underline overline; */
}
.o {
    background-color: yellow;
}
.box {
    border:mediumaquamarine 3px solid;
/*  border-radius:25px ; */
padding: 10px 5px 15px 20px;

}
/* treach spefvcifdjcn vints siucha s comic sans */
h1 {text-align: right;}
ol{
    list-style: armenian;
}

ul {
    list-style-type: disc ;
}

table, th,td {
    border: mediumblue solid 2px;
}

table {
    border-collapse: collapse;
}
a {
    text-decoration: none;
}
h1:hover{
    color: white;
    font-size: 4em;
}
h1{
    transition: all .5s;
}