#poo {
    color: brown;
}
.background {
    background-color: rgb(72, 0, 240); 
}

#s {
    color: purple;
}

#lol {
    color: violet;
}

/* This is a comment */
#q {
    color: red;
}
#r {color: blue;
}
#w {
    color: mediumseagreen;
}
#e {
    color: orange;
}
#t {
    color: purple;
}
#y {color: pink;}
.font {
    font-size: 2em;
    font-weight: bold;
    font-style: italic;
    /* text-decoration: line-through underline overline; */
    font-family: ;
}


/* treach spefvcifdjcn vints siucha s comic sans */