
* {
    margin: 0;
    padding: 0;
}

.sidebar {
    background-color: blue;
    grid-row:2/4
}

.navbar {
    background-color: red;
    grid-column: 1/3;
}
.main {
    background-color: green;
}
.footer {
    background-color: yellow;
}
html, body {
    height: 100%;
    width: 100%;
}

body {
    display: grid;
    grid-template-columns: 100px 1fr ;
    grid-template-rows: 50px 1fr 125px;
    


}